@model List<BusinessLogic.DAL.Product>
@{
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.Title = "Home Page";
}
<link href="~/assets/product/product.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
    <h3 class="h3">PET SHOP STORE</h3>
    <form method="get" action="@Url.Action("Index", "Home")" style="text-align:center;margin-bottom:15px;">
        <input type="text" name="search" id="search" />
        <button type="submit">Search</button>
    </form>
    <div class="row">

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                var price = (item.Price.Value * (decimal)1.1);
                <div class="col-md-3 col-sm-6">

                    <div class="product-grid4">

                        <div class="product-image4">
                            @if (File.Exists(Server.MapPath("/filedump/product/" + item.ProductID + ".png")))
                            {
                                <img src="~/filedump/product/@item.ProductID@Html.Raw(".png")" class="img-responsive pic-bordered" alt="" />

                                <span class="product-new-label">New</span>
                                <span class="product-discount-label">-10%</span>
                            }
                            else
                            {
                                <img src="~/app-res/ProfilePlaceholder.png" class="img-responsive pic-bordered" alt="" />
                            }
                        </div>
                        <div class="product-content">
                            <h2 class="title">
                                @item.ProductName

                            </h2>
                            <h3>@item.Description</h3>
                            <div class="price">
                                @item.Price;
                                <span>$ @price</span>
                            </div>
                            <a class="add-to-cart" href="/Payment/AddToCart?ProductID=@item.ProductID">ADD TO CART</a>
                        </div>
                    </div>
                </div>

            }
        }
    </div>

</div>
<hr>

