@model BusinessLogic.DAL.Product
@{
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.Title = "Product Add/Edit";
}
<script src="~/DX/js/jquery-2.2.3.min.js"></script>
<link href="~/assets/bootstrap-fileinput.css" rel="stylesheet" />
<script src="~/assets/bootstrap-fileinput.js"></script>
<link href="~/assets/componenets.min.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row col-md-12">
            <div class="col-md-5">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control ff" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div>
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control ff" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-5">
                <div>
                    @Html.LabelFor(model => model.ProductCount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.ProductCount, new { htmlAttributes = new { @class = "form-control ff" } })
                        @Html.ValidationMessageFor(model => model.ProductCount, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div>
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control ff" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-5">
                <form action="#" role="form">
                    <div class="form-group">
                        <div class="fileinput fileinput-new" data-provides="fileinput">

                            <div class="fileinput-new fileinput-preview thumbnail" style="max-width: 150px; max-height: 200px;">
                                @if (Model != null)
                                {
                                    if (File.Exists(Server.MapPath("/filedump/product/" + Model.ProductID + ".png")))
                                    {
                                        <img src="~/filedump/users/@Model.ProductID@Html.Raw(".png")" alt="" />
                                    }
                                    else
                                    {
                                        <img src="~/app-res/ProfilePlaceholder.png" class="img-responsive pic-bordered" alt="" />
                                    }
                                }
                                else
                                {
                                    <img src="~/app-res/ProfilePlaceholder.png" class="img-responsive pic-bordered" alt="" />
                                }
                            </div>

                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 150px; max-height: 200px;"> </div>
                            <div>
                                <span class="btn default btn-file">
                                    <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" name="upload" id="upload">
                                </span>
                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                            </div>
                        </div>
                        <div class="clearfix margin-top-10">

                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-5">

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submit" value="Add product" class="btn btn-default" />
            </div>
        </div>
    </div>

  }

    <script>
        $("#submit").on("click", function (event) {
               var ponb = {};
                    $(".ff").each(function () {
                        var self = $(this);
                        var name = self.attr("id");
                            ponb[name] = this.value;
                    });

                   $.ajax({
                       url: "/Product/AddProduct/",
                       type: "POST",
                       data: ponb,
                        success: function (data) {
                            toastr["success"]("New product has been added!");
                            uploadPicture(data.productID);
                        },
                        error: function (data) {

                        }
                    });

            function uploadPicture(productID) {
            var formData = new FormData();
            var File = [];
            var filesInput = $('#upload')[0].files;


            if (filesInput.length > 0) {
                //for (var i = 0; i < File.length; i++)
                formData.append("imageFile", filesInput[0]);


                $.ajax({
                    type: "POST",
                    url: "/Product/Upload?Id=" + productID,
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response === "OK")
                            location.reload();

                    },
                    error: function (error) {
                    }
                });
            } else
                toastr.warning('Please select file to upload!');
            }

            });
    </script>